{
  "env": { "browser": true, "es6": true },
  "plugins": [ "html"],
  "extends": [ "eslint:recommended", "plugin:json/recommended", 'airbnb-typescript'],
  "rules": {
    "mocha/no-exclusive-tests": "error"
   }
}
